@model int
@{
    ViewBag.Title = "404 Not Found Error";
}

<div class="alert alert-danger mt-1 mb-2">
    <h4>404 Not Found Error: </h4>
    <hr />
    <h5>
        Employee with Id = @Model cannot be found
    </h5>
</div>
<a asp-action="Index" asp-controller="Home" class="btn btn-outline-success" style="width: auto;">
    Click here to see the list of al employee
</a>